.auth {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 45px;

    &.active {
        display: flex;
    }

    &__title {
        font-size: 35px;
        margin-bottom: 15px;
    }

    &__label {
        font-size: 20px;
        margin-right: 10px;
    }

    &__item {
        margin-bottom: 15px;
    }

    &__input {
        font-size: 16px;
        padding: 7px 15px;
        border: 1px solid #053b08;
        border-radius: 10px;
        color: #000;
    }

    &__form {
        text-align: center;
    }

    &__btn {
        padding: 8px 30px;
        border: 2px solid #053b08;
        background-color: #5a765b;
        color: #fff;
        font-size: 20px;
        border-radius: 15px;
        transition: background-color .2s linear;
        margin-top: 20px;
        width: 100%;

        &:hover {
            background-color: #053b08;
        }
    }
}