@keyframes oneLeft {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    } 100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes oneTop {
    0% {
        transform: translateY(-150px);
        opacity: 0;
    } 100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes twoLeft {
    30% {
        transform: translateX(-150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes twoRight {
    30% {
        transform: translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes threeLeft {
    60% {
        transform: translateX(-150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes threeRight {
    60% {
        transform: translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}