.auth {
    &__label {
        @include fontSize(20);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: -1;
        transition: .2s linear;

        &--modal {
            @include fontSize(18);
            padding-left: 10px;
        }
    }

    &__group {
        position: relative;
        margin-bottom: 30px;
    }

    &__input {
        width: 100%;
        background-color: transparent;
        padding: 15px 0 7px 0;
        @include fontSize(18);
        font-weight: 400;
        border-bottom: 1px solid $colorGray;
        transition: all .2s linear;

        &--modal {
            padding: 11px 19px !important;
            border: 2px solid $colorDarkBlue !important;
            margin-bottom: 0 !important;

            &.error {
                border: 2px solid $colorError !important;
            }
        }

        &--account {
            height: 100%;
            padding: 0 15px;
            margin-bottom: 0 !important;
            border: 2px solid $colorDarkBlue;
            @include fontSize(14);
            margin-right: 20px;
        }

        &::placeholder {
            color: $colorGray;
        }

        &:focus {
            border-bottom: 1px solid $colorDarkBlue;
            color: $colorDarkBlue;

            & ~ .auth__label {
                color: $colorDarkBlue;
            }
        }

        &:focus ~ .auth__label,
        &:not(:placeholder-shown) ~ .auth__label {
            top: 0;
            @include fontSize(13);
        }

        &:hover {
            border-bottom: 1px solid $colorDarkBlue;
            color: $colorDarkBlue;
            
            & ~ .auth__label {
                color: $colorDarkBlue;
            }
        }

        &.err {
            border-bottom: 1px solid $colorError;
            color: $colorError;

            & ~ .auth__label {
                color: $colorError;
            }
        }
    }

    &__error {
        display: none;
        @include fontSize(16);
        font-weight: 400;
        color: $colorError;
        text-align: left;
        position: absolute;
        left: 0;
        bottom: -20px;
        z-index: $zDefault;

        &.active {
            display: block;
        }
    }
}