// Colors
$colorMain: #000;
$colorBg: #F4F6F6;
$colorBlue: #48C2DC;
$colorDarkBlue: #44ACC2;
$colorWhite: #FFFCFC;
$colorGray: #888888;
$colorError: #b90101;

// Z-index
$zBg: -2;
$zDefault: 10;
$zModal: 100;